body {
	color: #445566;
	font-size: 14px;
	line-height: 22px;
	position: relative;
}
header {
	border-right-color: lightgray;
	border-right-style: solid;
	border-right-width: thin;
	bottom: 0;
	overflow-x:hidden;
	overflow-y:scroll;
	position: fixed;
	top: 0;
	width: 220px;
}
header p {
	padding-left: 20px;
}
header ol {
	counter-reset: list-item;
	padding: 0px 0px 20px 20px;
}
header li {
	display: block;
}
main {
	margin-left: 290px;
	margin-right: 70px;
}
main p,
main pre,
main ul,
main ol,
main table,
main hr,
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
	margin-bottom: 0px;
	margin-top: 20px;
}
main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
	padding-top: 20px
}
main hr {
	border-bottom-style: none;
	border-color: lightgrey;
	border-top-style: solid;
	border-width: thin;
	margin-bottom: 50px;
	margin-left: -70px;
	margin-right: -70px;
	margin-top: 50px;
}
.hljs {
	font-size: 13px;
	padding-bottom: 10px;
	padding-left: 14px;
	padding-right: 14px;
	padding-top: 10px;
}
ol, ul {
	padding-left: 20px;
}
table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid #ddd;
}
th, td {
	padding: 10px;
}
tbody tr:nth-child(odd) {
	background-color: #f2f2f2;
}
a, a:visited, a:hover {
	color: #0077bb;
	text-decoration-style: solid;
	text-decoration: none;
}